/* Reset CSS */
@import 'reset';
@import 'typography';

/* Mixins */

@mixin mq($width) {
	@media (max-width: $width) {
		@content;
	}
}

@mixin vertical-middle() {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* Color variables */
$primary-color: red;
$body-font: "Jost";
$body-size: 24px;
$font-weight-regular: 400;
$mq-large: 800px;
$mq-medium: 600px;

body {
	background-color: $primary-color;
	color: #fff;
	font-family: $body-font;
	font-size: $body-size;
	font-weight: $font-weight-regular;
	line-height: 1.5;

	height: 100vh;
	@include vertical-middle();
}

section {
	width: 500px;

	@include mq($mq-medium) {
		font-size: 16px;
		width: 350px;
	}

	p {
		margin: 24px 0 0 0;
	}

}